*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222;
    text-align: center;
}

header {
    background-color: #222;
    color: white;
    padding: 26px;
    position: sticky;
    top: 0px;
}

#homeLink:hover {
    cursor: pointer;
}

nav {
    background-color: white;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-bottom: 4px solid #222;
    overflow: hidden;
    text-align: center;
    width: 1000px;
    margin: 0 auto;
}

nav #chapterList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

nav #chapterList a {
    color: #222;
    text-decoration: none;
    font-size: 18px;
    padding: 14px 20px;
    transition: 0.2s ease-out;
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box; 
    height: 48px; 
    line-height: 20px; 
    align-items: center;
}

nav #chapterList a:hover:not(.not-clickable) {
    color: #555;
}

nav #chapterList .not-clickable:hover {
    background-color: transparent;
    color: #222;
    border: none;
}

nav #chapterList .not-clickable {
    cursor: text;
    border: none;
}

#chapterPages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#chapter1 {
    border-top: #222 solid 3px;
    border-bottom: #222 solid 3px;
}

#chapter2 {
    border-top: #222 solid 3px;
}

#chapter3 {
    border-top: #222 solid 3px;
}

#chapter4 {
    border-top: #222 solid 3px;
}

#chapter5 {
    border-top: #222 solid 3px;
}

.pageSeparator {
    width: 100%;
    height: 4px;
    background-color: #222;
}

img {
    max-width: 100%;
    height: auto;
}


.not-clickable {
    cursor: text;
}


@media only screen and (max-width: 1000px) {
    nav {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    nav #chapterList {
        flex-grow: 1;
        justify-content: center;
    }

    nav #chapterList .chapterDivider {
        display: none;
    }

    nav #chapterList a {
        margin: 0 20px;
    }

    nav #chapterList a:first-child {
        margin-left: auto;
    }

    nav #chapterList a:last-child {
        margin-right: auto;
    }
}