*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222;
    text-align: center;
}

header {
    background-color: #222;
    color: white;
    padding: 30px;
    position: sticky;
    top: 0px;
}

h1 {
    cursor: pointer;
    margin: 0; 
}


nav {
    background-color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-around; 
    align-items: center;
    border-top: none; 
    border-right: none; 
    border-bottom: 4px solid #222; 
    border-left: none;
    padding: 25px;
}

nav #chapterList {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    display: flex;
    margin: 0;
    padding: 0;
    display: flex;
}

nav #chapterList a {
    text-decoration: none;
    color: #222;
    margin: 0 30px; 
    padding: 20px;
    font-size: 18px;
}

.chapterDivider {
    border: 1px solid #222;
    margin: 0 10px; 
    flex-grow: 1; 
}

#chapter1Pages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100%;
    height: auto;
}

.not-clickable {
    cursor:text;
}


@media only screen and (max-width: 767px) {
    nav #chapterList a {
        margin: 0 20px; 
    }
}
